# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Virtual env
imprint_env/
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project-specific
config.ini
_install.log

# OS
Thumbs.db
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log
logs/
